.upload-div {
  margin: 80px 14% 20px 14%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.upload-left {
  display: flex;
  flex-direction: column;;
}

.upload-title {
  font-size: 2.2em;
  width: 10em;
}

.underline-image {
  width: 20em;
  margin-bottom: 40px;
}

.resume-search-image {
  width: 30%;
  height: 30%;
  margin-top: 160px;
}

.intro-text {
  font-size: 1.1rem;
  width: 80%;
}

.upload-file {
  cursor: pointer;
  background-color: var(--pink);
  border-radius: 15px;
  width: 70%;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 8px 5px rgba(0, 212, 249, 0.46);
}

.upload-file:hover {
  width: 75%;
  box-shadow: 4px 4px 8px 10px rgba(0, 212, 249, 0.46);
}

.upload-file > input[type='file'] {
  display: none
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  cursor: pointer;
}

.button-text {
  font-size: 2em;
  color: var(--white);
  margin-left: 2%;
}

.service-div {
  margin: 80px 14% 0px 14%;
}

.upper-div {
  display: flex;
  flex-direction: row;
  margin: 80px auto;
  margin-bottom: 10px;
  justify-content: space-between;
}

.computer-search-image {
  width: 25%;
  height: auto;
}

.ATS-text {
  font-size: 1.1rem;
  margin-left: 50px;
  margin-top: 25px;
}

.our-text {
  font-size: 1.1rem;
  margin-bottom: 80px;
}

.balloons-image {
  width: 15%;
  margin-bottom: -80px;
}

.end-illustration {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0px;
}

.person-image {
  width: 40%;
  margin: 10px auto;
}

@media (max-width: 1200px) {

  .resume-search-image {
    width: 40%;
    height: 40%;
    margin-top: 200px;
  }

  .computer-search-image {
    width: 30%;
  }

  .balloons-image {
    width: 17%;
  }

  .person-image {
    width: 45%;
  }

}


@media (max-width: 992px) {

  .intro-text {
    width: 100%;
  }

  .upload-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .resume-search-image {
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 30px;
  }

  .upper-div {
    flex-direction: column;
    justify-content: center;
  }

  .ATS-text {
    margin-left: 0px;
  }

  .computer-search-image {
    width: 40%;
    margin: auto;
  }

  .balloons-image {
    width: 20%;
  }

  .person-image {
    width: 55%;
  }
}

@media (max-width: 768px) {

  .intro-text {
    width: 100%;
  }

  .upload-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .resume-search-image {
    width: 80%;
    height: 80%;
    margin-top: 30px;
    margin-left: 5%;
  }

  .upper-div {
    flex-direction: column;
    justify-content: center;
  }

  .ATS-text {
    margin-left: 0px;
  }

  .computer-search-image {
    width: 60%;
    margin: auto;
  }

  .balloons-image {
    width: 25%;
  }

  .person-image {
    width: 65%;
  }
}
