.nav-link {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-content: space-between;
}

.nav-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 12% 20px 12%;
}

.nav-subtitle {
  color: var(--pink);
  font-size: 0.9em;
  font-style: italic;
  display: flex;
  flex-direction: inherit;
  flex-wrap: wrap;
  width: 12em;
}

.nav-title {
  font-size: 2.0em;
}

.nav-link:hover {
  opacity: 0.7;
}

.service-button {
  cursor: pointer;
  background-color: var(--pink);
  color: var(--white);
  height: 3em;
  width: 8em;
  letter-spacing: 0.1em;
  padding: 1.5em auto;
  border: none;
  border-radius: 12px;
  margin-top: 20px;
  margin-left: 15%;
}

.service-button:hover {
  letter-spacing: 0.3em;
  opacity: 0.7;
}

/*@media (max-width: 576px) {
  .nav-title {
    font-size: 2.3em;
  }
}*/

/*XLarge: >=1200px
Large: >= 992px
Medium: >= 768px
Small: >= 576px*/
